<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="../static/css/page.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="leftSection">
                <div class="photo-name">
                    <div class="photo"></div>
                </div>
                <div class="save-fans">
                    <div class="save">110<br />原创</div>
                    <div class="fans">313<br />转载</div>
                </div>
                <div class="idcard">
                    <h1>我的名片</h1>
                    <p>name：tuzhenyu</p>
                    <p>wechat：hustman123</p>
                    <p>Email：1572629866@qq.com</p>
                    <ul class="share-group">
                        <i class="fa fa-weibo fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-qq fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-weixin fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                    </ul>
                </div>
                <div class="icon-group">
                    <div class="icon">
                        <a href="/index"><span class="fa fa-home fa-2x" aria-hidden="true"></span><i class="iconName">首页</i></a>
                    </div>
                    <div class="icon">
                        <a href="/technology"><span class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></span><i>技术</i></a>
                    </div>
                    <div class="icon">
                        <a href="/project"><span class="fa fa-heart-o fa-2x" aria-hidden="true"></span><i>项目</i></a>
                    </div>
                    <div class="icon">
                        <a href="/life"><span class="fa fa-gavel fa-2x" aria-hidden="true"></span><i>生活</i></a>
                    </div>
                    <div class="icon">
                        <a href="/about"><span class="fa fa-music fa-2x" aria-hidden="true"></span><i>关于</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/page.js"></script>
</body>
</html>
