<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="../static/css/page.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="leftSection">
                <div class="photo-name">
                    <div class="photo"></div>
                </div>
                <div class="save-fans">
                    <div class="save">110<br />原创</div>
                    <div class="fans">313<br />转载</div>
                </div>
                <div class="idcard">
                    <h1>我的名片</h1>
                    <p>name：tuzhenyu</p>
                    <p>wechat：hustman123</p>
                    <p>Email：1572629866@qq.com</p>
                    <ul class="share-group">
                        <i class="fa fa-weibo fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-qq fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-weixin fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                    </ul>
                </div>
                <div class="icon-group">
                    <div class="icon">
                        <a href="/index"><span class="fa fa-home fa-2x" aria-hidden="true"></span><i class="iconName">首页</i></a>
                    </div>
                    <div class="icon">
                        <a href="/technology"><span class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></span><i>技术</i></a>
                    </div>
                    <div class="icon">
                        <a href="/project"><span class="fa fa-heart-o fa-2x" aria-hidden="true"></span><i>项目</i></a>
                    </div>
                    <div class="icon">
                        <a href="/life"><span class="fa fa-gavel fa-2x" aria-hidden="true"></span><i>生活</i></a>
                    </div>
                    <div class="icon">
                        <a href="/about"><span class="fa fa-music fa-2x" aria-hidden="true"></span><i>关于</i></a>
                    </div>
                </div>
            </div>
            <div class="rightSection">
                <div class="blogs">
                    <div class="blogAticle">
                      <div class="articleWrapper">
                        <div class="articleHeader">
                          <p><a href="">在Ubuntu 14.04上安装 MySQL 5.7</a></p>
                        </div>
                        <div class="articleContent">
                          <div class="img-section">
                              <img src="">
                          </div>
                          <div class="textSection">
                              <p>MySQL是什么不多介绍了，在5.7之后，MySQL很“识时务”地引入了JSON字段，这是要抢MongoDB的饭碗么？不过对我们来说是个大好事，不用手动转换的存放了，而且支持原生的读取查询，世界从此变得好美丽！ Ubuntu14.04因为是LTS版本，各大云主机商都支持这个版本，而且我也习惯使用了这个版本，只不过毕竟是两年前的东西</p>
                          </div>
                        </div>
                        <div class="articleFooter">
                          <div class="leftCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i><span>2016-11-13</span></li>
                                <li><i class="fa fa-code fa-1x" aria-hidden="true"></i><span>tuzhenyu</span></li>
                                <li><i class="fa fa-tag fa-1x" aria-hidden="true"></i><span>MySQL</span></li>
                              </ul>
                          </div>
                          <div class="rightCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-share fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-comment-o fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-heart-o fa-1x" aria-hidden="true"></i><span>10</span></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="ti"></div>
                      <div class="ci"></div>
                    </div>
                    <div class="blogAticle">
                      <div class="articleWrapper">
                        <div class="articleHeader">
                          <p><a href="">CSS滑动下划线</a></p>
                        </div>
                        <div class="articleContent">
                          <div class="img-section">
                              <img src="">
                          </div>
                          <div class="textSection">
                              <p>搜集翻译了一些下划线的动态效果，感觉可能什么时候会用，这里贴一下~请使用现代浏览器查看效果。 主要就是使用了CSS的:after伪类，再加上一些transition动画效果，设置设置宽度高度，左右距离好像就完事儿了…… 下划线从上到下出现 鼠标放上去，你会发现下划线“生长”出来了，不过页面所有的内容也往下走了3像素，这样视觉效果不是很</p>
                          </div>
                        </div>
                        <div class="articleFooter">
                          <div class="leftCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i><span>2016-11-13</span></li>
                                <li><i class="fa fa-code fa-1x" aria-hidden="true"></i><span>tuzhenyu</span></li>
                                <li><i class="fa fa-tag fa-1x" aria-hidden="true"></i><span>CSS</span></li>
                              </ul>
                          </div>
                          <div class="rightCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-share fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-comment-o fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-heart-o fa-1x" aria-hidden="true"></i><span>10</span></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="ti"></div>
                      <div class="ci"></div>
                    </div>
                    <div class="blogAticle">
                      <div class="articleWrapper">
                        <div class="articleHeader">
                          <p><a href="">60行的fly flappy bird</a></p>
                        </div>
                        <div class="articleContent">
                          <div class="img-section">
                              <img src="">
                          </div>
                          <div class="textSection">
                              <p>fly flappy bird现在是一点都不新鲜了，当初热遍全球的时候，还是有好多人在仿制，各种语言都有……除了对技术的兴趣，还有的应该就是“看，我也有水平做出一个火遍世界的游戏，只是没动手罢了”这点小心思吧，(●’◡’●) 记得曾经在网上看过js版本的，用的库也各式各样，按说我这里有很多pygame的教程</p>
                          </div>
                        </div>
                        <div class="articleFooter">
                          <div class="leftCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i><span>2016-11-13</span></li>
                                <li><i class="fa fa-code fa-1x" aria-hidden="true"></i><span>tuzhenyu</span></li>
                                <li><i class="fa fa-tag fa-1x" aria-hidden="true"></i><span>python</span></li>
                              </ul>
                          </div>
                          <div class="rightCoinSection coinSection">
                              <ul>
                                <li><i class="fa fa-share fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-comment-o fa-1x" aria-hidden="true"></i><span>0</span></li>
                                <li><i class="fa fa-heart-o fa-1x" aria-hidden="true"></i><span>10</span></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="ti"></div>
                      <div class="ci"></div>
                    </div>
                </div>
                <div class="search">
                    <p><input type="text" id="searchItem"></p><p class="searchButton"><a href="">搜索</a></p>
                </div>
                <div class="recentAticle">
                  <div class="header">
                    <p>近期文章</p>
                  </div>
                  <div class="content"></div>
                </div>
                <div class="classify">
                  <div class="header">
                    <p>文章分类</p>
                  </div>
                  <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/page.js"></script>
</body>
</html>
